# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jeremy\Projects\Upwealth\Workspace\data\DataGrip\.idea/dataSources/
/dataSources.local.xml
