<div class="container">
    <div class="row justify-content-start mt-3">
        <div class="col-md-8">
            <div class="h1">Investment Status</div>
        </div>
    </div>
</div>

<div class="container col-lg-8">
    <div class="row theme-border-y py-4 mt-4">
        {{!-- <div class="col-sm-1 p-0" style="max-width: 45px;"> --}}
        <div class="col-sm-1 left-tabs-container">
            <ul class="nav nav-tabs left-tabs sideways-tabs">
                <li class="nav-item">
                    <a class="nav-link theme-bg text-white active" href="#transfer" data-mdb-toggle="tab">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-bg text-white" href="#trades" data-mdb-toggle="tab">Trades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-bg text-white" href="#performance" 
                        data-mdb-toggle="tab" title="Performance">Performance</a>
                </li>
            </ul>
        </div>

        <div class="col-md-11 p-0 border-theme rounded">
            <div class="tab-content">
                <div class="tab-pane fade show container active" id="transfer">
                    <div class="row justify-content-between">
                        <div class="col-md-5 pb-5">
                            <div class="h4 text-center">Contributions</div>
                            <table id="contributions" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-top-0">Date</th>
                                        <th scope="col" class="border-top-0 border-left border-right">Amount (USD)</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-right border-top-0 border-bottom-0 text-center text-success">+ $304</td>
                                    </tr>
                                    <tr>
                                        <td class="border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-right border-top-0 border-bottom-0 text-center text-success">+ $400</td>
                                    </tr>
                                    <tr>
                                        <td class="border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-right border-top-0 border-bottom-0 text-center"></td>
                                    </tr>
                                    <tr>
                                        <td class="border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-right border-top-0 border-bottom-0 text-center"></td>
                                    </tr>
                                    <tr>
                                        <td class="border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-right border-top-0 border-bottom-0 text-center"></td>
                                    </tr>
                                    <tr>
                                        <th class="border-top border-bottom-0">Total</th>
                                        <td class="border-left border-right border-top border-bottom-0 text-center text-success">+ $704</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-5">
                            <div class="h4 text-center">Withdrawals</div>
                            <table id="withdrawals" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-left border-top-0">Date</th>
                                        <th scope="col" class="border-top-0 border-left">Amount (USD)</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="border-left border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-top-0 border-bottom-0 text-center text-danger">- $400</td>
                                    </tr>
                                    <tr>
                                        <td class="border-left border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-top-0 border-bottom-0 text-center text-danger">- $0</td>
                                    </tr>
                                    <tr>
                                        <td class="border-left border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-top-0 border-bottom-0 text-center"></td>
                                    </tr>
                                    <tr>
                                        <td class="border-left border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-top-0 border-bottom-0 text-center"></td>
                                    </tr>
                                    <tr>
                                        <td class="border-left border-top-0 border-bottom-0"></td>
                                        <td class="border-left border-top-0 border-bottom-0 text-center"></td>
                                    </tr>
                                    <tr>
                                        <th class="border-left border-top border-bottom-0">Total</th>
                                        <td class="border-left border-top border-bottom-0 text-center text-danger">- $400</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show container" id="trades">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="current-tab" data-mdb-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="true">Current</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="past-tab" data-mdb-toggle="tab" href="#past" role="tab" aria-controls="past" aria-selected="true">Past</a>
                        </li>
                    </ul>

                    <div class="tab-content border border-top-0">
                        <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
                            <div class="overflow-auto">
                                <table id="current" class="table">
                                    <thead>
                                        <tr>
                                            <th>Entry Date</th>
                                            <th>Trade Pair</th>
                                            <th>Direction</th>
                                            <th>Entry Price</th>
                                            <th>Current Price</th>
                                            <th>Current P/L</th>
                                            <th>Trade ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr>
                                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr>
                                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
                            <div class="overflow-auto">
                                <table id="current" class="table">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Entry Date</th>
                                            <th>Trade Pair</th>
                                            <th>Direction</th>
                                            <th>Entry Price</th>
                                            <th>Current Price</th>
                                            <th>Current P/L</th>
                                            <th>P/L</th>
                                            <th>Exit Price</th>
                                            <th>Exit Date</th>
                                            <th>Trade ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr>
                                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr>
                                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show container" id="performance">
                    {{!-- <script>
                        ...
                    </script> --}}

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="individual-tab" data-mdb-toggle="tab" href="#individual" role="tab" aria-controls="individual" aria-selected="true">Individual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="fund-tab" data-mdb-toggle="tab" href="#fund" role="tab" aria-controls="fund" aria-selected="true">Fund</a>
                        </li>
                    </ul>

                    <div class="tab-content border border-top-0">
                        <div class="tab-pane fade show active" id="individual" role="tabpanel" aria-labelledby="individual-tab">
                            <div class="overflow-auto p-3" align="center">
                                <div id="individual-tab-chart" class="d-inline-block shadow border rounded"></div>
                            </div>

                            <div class="overflow-auto mt-5">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Balance</th>
                                            <th>Unrealize</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-success">$ 1400</td>
                                            <td class="text-danger">- $100</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-center mt-4">
                                <a class="btn btn-secondary" href="#">Download Report</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="fund" role="tabpanel" aria-labelledby="fund-tab">
                            <div class="overflow-auto p-3" align="center">
                                <div id="fund-tab-chart" class="d-inline-block shadow border rounded"></div>
                            </div>

                            <div class="overflow-auto mt-5">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Balance</th>
                                            <th>Unrealize</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-success">$ 2700</td>
                                            <td class="text-danger">- $400</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-center mt-4">
                                <a class="btn btn-secondary" href="#">Download Report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>