<div class="container col-md-8">
    <div class="row justify-content-start mt-3">
        <div class="h1">Investment Status</div>
    </div>

    <div class="row theme-border py-4 mt-4">
        <div class="col-md-1">
            <ul class="nav nav-tabs left-tabs sideways-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#transfer" data-toggle="tab">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#trades" data-toggle="tab">Trades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="#performance"
                        data-toggle="tab"
                        title="Performance">Performance</a>
                </li>
            </ul>
        </div>

        <div class="col-md-11">
            <div class="container">
                <div class="tab-content">
                    <article class="tab-pane container active" id="transfer">
                        <h1>Transfer</h1>
                        <section>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Diam vulputate
                            ut pharetra sit amet. Orci ac auctor augue mauris augue neque. Turpis massa sed elementum tempus
                            egestas. Faucibus ornare suspendisse sed nisi. Ipsum nunc aliquet bibendum enim facilisis gravida
                            neque convallis a. Pretium fusce id velit ut tortor pretium viverra. Egestas sed tempus urna et
                            pharetra. Pellentesque adipiscing commodo elit at imperdiet dui. Posuere urna nec tincidunt praesent
                            semper. Erat velit scelerisque in dictum non consectetur a erat. Scelerisque viverra mauris in
                            aliquam. Duis ultricies lacus sed turpis tincidunt id aliquet risus. Consectetur lorem donec massa
                            sapien faucibus et molestie.
                        </section>
                    </article>
                        <article class="tab-pane container" id="trades">
                        <h1>Trades</h1>
                        <section>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. A lacus vestibulum sed arcu. Mi tempus imperdiet nulla malesuada pellentesque.
                            Natoque penatibus et magnis dis parturient. Rhoncus aenean vel elit scelerisque mauris pellentesque.
                            In hendrerit gravida rutrum quisque non tellus orci ac. Lectus magna fringilla urna porttitor rhoncus
                            dolor. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Senectus et netus et malesuada fames
                            ac. Diam quis enim lobortis scelerisque fermentum. Praesent tristique magna sit amet purus gravida
                            quis. Elit eget gravida cum sociis natoque penatibus et magnis. Nibh praesent tristique magna sit amet
                            purus gravida. Cursus vitae congue mauris rhoncus. Id leo in vitae turpis massa. Blandit libero
                            volutpat sed cras. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna.
                        </section>
                    </article>
                    <article class="tab-pane container" id="performance">
                        <h1>Performance</h1>
                        <section>
                            <p><small>From Wikipedia, the free encyclopedia</small></p>
                        </section>
                        <section>
                            <p>
                                Llanfair­pwllgwyngyll­gogery­chwyrn­drobwll­llan­tysilio­gogo­goch (pronounced
                                [ˌɬanvair­pʊɬˌɡwɨ̞ŋɡɨ̞ɬ­ɡɔˌɡɛrə­ˌχwərn­ˌdrɔbʊɬ­ˌɬan­təˌsɪljɔ­ˌɡɔɡɔ­ˈɡoːχ] in Welsh), official short
                                form name Llanfairpwllgwyngyll (pronounced [ɬanˌvair puɬˈɡwɨ̞nɡɨ̞ɬ]), also spelled Llanfair
                                Pwllgwyngyll, is a large village and local government community on the island of Anglesey in Wales.
                                It is situated on the Menai Strait next to the Britannia Bridge and across the strait from Bangor.
                                While the official short form name is used in official contexts, both the full name and shortened
                                (Llanfairpwll or Llanfair PG) forms of the place name are used in various contexts.
                            </p>
                            <p>
                                <a href="https://en.wikipedia.org/wiki/Llanfairpwllgwyngyll"
                                    target="_blank"
                                    title="Open Wikipedia article in a new tab."
                                    >Full article &gt;</a
                                >
                            </p>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>