{{!--
Modified Bootstrap Registration Page by vosidiy
Source: https://bootsnipp.com/snippets/z8699
--}}

<div class="container mb-6">
    <div class="row justify-content-center h-100">
        <div class="col-md-5 mt-3">
            <div class="h3 text-center mt-5">Create Account</div>
            <p class="text-center">Get started with {{ _brand }}</p>

            <div class="card mt-3">
                <div class="card-body">
                    <form action="/user/create" method="post">
                        <h5 class="mb-3 text-center">Contact</h5>
                        <div class="input-group justify-content-between">
                            <div class="form-outline mb-3">
                                <input name="" id="firstName" class="form-control" type="text" required>
                                <label for="firstName" class="form-label">First name</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input name="" id="lastName" class="form-control" type="text" required>
                                <label for="lastName" class="form-label">Last name</label>
                            </div>
                        </div>
                        <div class="form-outline mb-3">
                            <input name="" id="email" class="form-control" type="email" required>
                            <label for="email" class="form-label">Email address</label>
                        </div>
                        <div class="input-group mb-3">
                            <select class="form-select form-select-sm">
                                <option selected>+902</option>
                                <option value="1">+972</option>
                                <option value="2">+198</option>
                                <option value="3">+701</option>
                            </select>
                            <div class="form-outline">
                                <input name="" id="phoneNumber" class="form-control rounded" type="tel" required>
                                <label for="phoneNumber" class="form-label">Phone number</label>
                            </div>
                        </div>
                        <hr>
                        <h5 class="mb-3 text-center">Address</h5>
                        <div class="form-outline mb-3">
                            <input name="" id="streetAddress" class="form-control" type="text" required>
                            <label for="streetAddress" class="form-label">Street address</label>
                        </div>
                        <div class="form-outline mb-3">
                            <input name="" id="city" class="form-control" type="text" required>
                            <label for="city" class="form-label">City</label>
                        </div>
                        <div class="form-outline mb-3">
                            <input name="" id="country" class="form-control" type="text" required>
                            <label for="country" class="form-label">Country</label>
                        </div>
                        <div class="input-group justify-content-between">
                            <div class="form-outline mb-3">
                                <input name="" id="state" class="form-control" type="text" required>
                                <label for="state" class="form-label">State</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input name="" id="zipCode" class="form-control" type="text" required>
                                <label for="zipCode" class="form-label">ZIP Code</label>
                            </div>
                        </div>
                        <hr>
                        <h5 class="mb-3 text-center">Password</h5>
                        <div class="form-outline mb-3">
                            <input name="" id="password" class="form-control" type="password" required>
                            <label for="password" class="form-label">Password</label>
                        </div>
                        <div class="form-outline mb-3">
                            <input name="" id="confirmPassword" class="form-control" type="password" required>
                            <label for="confirmPassword" class="form-label">Confirm password</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block my-4">Create Account</button>
                    </form>
                </div>

                <div class="card-footer">
                    <p class="text-center my-3">Have an account? <a href="/login">Login</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>