{{!-- Photo by Serpstat from Pexels --}}
{{!-- <img class="img-fluid vh-80 vw-100" src="/images/pexels-serpstat-572056.jpg" alt="Background Image"> --}}

{{!-- Photo by Nataliya Vaitkevich from Pexels --}}
<img class="img-fluid vh-80 vw-100" src="/images/pexels-nataliya-vaitkevich-6120185.jpg" alt="Background Image">

<div class="h1 text-center mt-5">Uptrend Wealth</div>

<div class="container">
    <div class="row justify-content-center h-100">
        <div class="col-md-10 mt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, maxime quibusdam nihil exercitationem provident corporis ducimus amet illum aperiam enim deleniti esse ad saepe fugit numquam repellendus incidunt vitae ratione? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi alias eligendi rerum ratione dolorum praesentium doloremque, ab officiis dolore earum cumque libero. Repudiandae error deserunt sapiente labore amet corrupti magnam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi est doloribus repellat saepe itaque atque ducimus magni quibusdam, error dignissimos optio voluptatem ipsam quidem impedit fugit deleniti sint quam nobis.
        </div>
    </div>
</div>