{{!-- Photo by Nataliya Vaitkevich from Pexels --}}
<div class="justify-content-center py-5 bg-light">
    <h1 class="text-center">UPTREND WEALTH</h1>
    <h3 class="text-center">Sign Up with Uptrend Wealth</h3>
    <div class="text-center mt-3">
        <a href="/register" class="btn btn-dark border-0">Get Started</a>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col paragraph text-justify">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, maxime quibusdam nihil exercitationem provident corporis ducimus amet illum
            aperiam enim deleniti esse ad saepe fugit numquam repellendus incidunt vitae ratione? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Animi alias eligendi rerum ratione dolorum praesentium doloremque, ab officiis dolore earum cumque libero. Repudiandae error deserunt sapiente
            labore amet corrupti magnam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi est doloribus repellat saepe itaque atque ducimus magni
            quibusdam, error dignissimos optio voluptatem ipsam quidem impedit fugit deleniti sint quam nobis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nisi, aliquam error qui maiores itaque ad delectus ex impedit, dicta laborum saepe nostrum. Nemo officia numquam quisquam facilis.
            Obcaecati, ad minus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt eius ad iure mollitia, assumenda tempore minima repellat
            sequi quas officia dicta consectetur laborum ratione maxime quibusdam itaque quod, eligendi adipisci?
        </div>
    </div>
</div>

<div class="container-fluid bg-light shadow-lg py-5">
    <h1 class="text-center py-4">Trusted By These Companies</h1>
    <div class="row justify-content-center pb-4 mx-auto w-75">
        <div class="col">
            <div class="card">
                {{!-- Photo by Nataliya Vaitkevich from Pexels --}}
                <img src="/images/placeholder.png" alt="Sample Company Logo" class="card-img-top">

                <div class="card-body">
                    <a class="stretched-link text-decoration-none" href="#">Visit Company 1</a>
                    <p class="card-text">Sample company 1</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                {{!-- Photo by Nataliya Vaitkevich from Pexels --}}
                <img src="/images/placeholder.png" alt="Sample Company Logo" class="card-img-top">

                <div class="card-body">
                    <a class="stretched-link text-decoration-none" href="#">Visit Company 2</a>
                    <p class="card-text">Sample company 1</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                {{!-- Photo by Nataliya Vaitkevich from Pexels --}}
                <img src="/images/placeholder.png" alt="Sample Company Logo" class="card-img-top">

                <div class="card-body">
                    <a class="stretched-link text-decoration-none" href="#">Visit Company 3</a>
                    <p class="card-text">Sample company 1</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                {{!-- Photo by Nataliya Vaitkevich from Pexels --}}
                <img src="/images/placeholder.png" alt="Sample Company Logo" class="card-img-top">

                <div class="card-body">
                    <a class="stretched-link text-decoration-none" href="#">Visit Company 4</a>
                    <p class="card-text">Sample company 1</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-md-5 text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium quia voluptatibus iste fugit vero, ex voluptate
            atque at ipsum sed numquam dolore magni possimus autem, optio illo! Provident, beatae inventore? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Unde repellat accusantium consequatur, in repellendus, officia voluptatem asperiores ab nisi sapiente reprehenderit quisquam nulla? Autem
            consequatur quo quas nesciunt explicabo voluptates!</div>

        <div class="col-md-2">
            <img class="m-2" src="/images/icon.svg" alt="Uptrend Icon">
        </div>

        <div class="col-md-5 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perspiciatis tempora officiis nulla ut fugit, minus ex
            totam exercitationem natus illum nesciunt veritatis assumenda molestiae mollitia possimus beatae? Optio, cum. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Tenetur praesentium accusamus delectus, maiores adipisci dolore voluptates dolorum ex cumque perferendis, fugit
            laudantium dolores, quia rerum officia qui perspiciatis earum corporis.</div>
    </div>
</div>

<div class="container-fluid py-5 bg-light border-top">
    <div class="row justify-content-center pb-4 mx-auto w-75">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <i class="fas fa-user-circle xxl-font-size me-3"></i>
                <blockquote class="blockquote">
                    <p class="quote-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit adipisci saepe velit corrupti
                        earum quas totam aliquid, ducimus soluta repellendus, minima magnam doloremque placeat atque quod tempora. Possimus, consequuntur.</p>
                    <footer class="blockquote-footer mt-2">Someone who uses <cite title="{{ _brand }}">{{ _brand }}</cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <i class="fas fa-user-circle xxl-font-size me-3"></i>
                <blockquote class="blockquote">
                    <p class="quote-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, adipisci maxime, voluptatibus dignissimos
                        inventore, molestias facere tenetur possimus exercitationem ipsam cupiditate fugiat velit necessitatibus placeat. Odit corrupti officia
                        quod amet.</p>
                    <footer class="blockquote-footer mt-2">Someone who tried <cite title="{{ _brand }}">{{ _brand }}</cite> once</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>