<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/app.js"></script>
    {{#each scripts}}
    <script src="{{this}}"></script>
    {{/each}}
</head>

<body>
    <div id="app" class="min-vh-100">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="/">
                    {{!-- 
                        Logo and icon made with LogoMakr.com
                        Logo (with brand name) - logomakr.com/9gzg6o
                        Logo (icon) - logomakr.com/2utCB6
                    --}}
                    <img class="img-fluid navbar-brand-logo" src="/images/uptrend-wealth-logo.png" alt="Uptrend Wealth">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/landing">Landing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {{{body}}}
    </div>

    {{!-- Footer layout inspired by GitHub's footer --}}
    <footer class="footer mt-6">
        <div class="container-xl overflow-auto">
            <div class="d-flex flex-wrap my-4 justify-content-between row-cols-4">
                <div class="col-md-auto my-auto icon-container">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid footer-brand-icon" src="/images/uptrend-wealth-icon.png" alt="Uptrend Wealth Logo">
                    </div>
                </div>

                <div class="col-md-auto">
                    <ul class="list-style-none">
                        <li class="footer-list-item"><a href="/about">About</a></li>
                        <li class="footer-list-item"><a href="/contact">Contact</a></li>
                        <li class="footer-list-item"><a href="/faq">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-md-auto">
                    <ul class="list-style-none">
                        <li class="footer-list-item"><a href="/site-policy/privacy-policy">Privacy Policy</a></li>
                        <li class="footer-list-item"><a href="/site-policy/terms-of-service">Terms of Service</a></li>
                    </ul>
                </div>

                <div class="col-md-auto">
                    <ul class="list-style-none">
                        <li class="footer-list-item"><a href="mailto:contact@email.com">contact@email.com</a></li>
                        <li class="footer-list-item"><a href="tel:+9021234567">(902)-123-4567</a></li>
                    </ul>
                    
                    <div class="">
                        <a class="social-icon" href="https://www.fb.com"><i class="fab fa-facebook"></i></a>
                        <a class="social-icon" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <p class="text-center">&#169; Uptrend Wealth 2021</p>
        </div>
    </footer>
</body>

</html>