<div class="container">
    <h1 class="mt-5">TO-DO</h1>
    <p class="lead">
        This page is yet to be implemented. By the end of this project, none of these pages should be viewable.
    </p>
    <p>For now, you can be <a href="/landing">redirect back to the landing page</a>.</p>
</div>