<div class="container">
    <h1 class="mt-5">Error 404 - Page Not Found</h1>
    <p class="lead">
        It seems you've landed yourself on a page that does not exist.
    </p>
    <p>For now, you can be <a href="/landing">redirect back to the landing page</a>.</p>
</div>