<div class="container col-md-8 mb-6">
    <div class="row justify-content-start mt-3">
        <div class="col">
            <div class="h1">About Uptrend</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="statement-span my-4">What is Uptrend?</div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h2>Lorem</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptatum ipsa, natus praesentium
            nam nulla expedita? Quia doloremque omnis dolorem deserunt nisi numquam dolor totam vero, est sed
            placeat quod? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt maiores ipsa optio quae
            repudiandae molestias est maxime suscipit adipisci voluptates dicta amet quo dolores, odio modi natus
            illum odit veniam?</p>
        </div>
            
        <div class="col-md-3">
            <img class="img-fluid figure-img rounded shadow" src="/images/wip.png" alt="Sample Image">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2>Ipsum</h2>
        </div>
    </div>

    <div class="row">
        <div class="col paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ad culpa sunt, ipsa laudantium odit
            iusto, impedit dolor fugit facere explicabo, facilis eos commodi. Nisi adipisci dolor soluta distinctio ea.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea harum eius dignissimos pariatur nesciunt
            corporis accusantium quam nam odit amet! Ipsa facilis laboriosam officia modi soluta nostrum delectus neque
            laborum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat nulla hic dolorem esse natus
            architecto ipsa sint ut beatae! Dolor, odio corrupti. Assumenda suscipit molestias nihil quod quisquam odit
            repellendus.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2>Lorem Ipsum</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid figure-img rounded shadow" src="/images/wip.png" alt="Sample Image">
        </div>
        <div class="col-md-9 paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius veritatis, aspernatur deleniti suscipit
            praesentium itaque animi distinctio possimus cupiditate ipsa nihil laboriosam maiores. Commodi facere
            optio exercitationem molestiae sit dolorem! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Nihil molestias, quaerat delectus deleniti veniam dolorum harum odio magni nisi nobis nesciunt. Totam,
            voluptatem doloribus harum numquam debitis nesciunt quibusdam eos.
        </div>
    </div>
</div>