<div class="container col-md-8 mb-6">
    <div class="row justify-content-start mt-3">
        <div class="col">
            <div class="h1">Contact Us</div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <div class="statement-span">
                Let's Have a Conversation
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-7">
            <div class="h3">How can we help?</div>
            <ul class="unordered-list mt-3">
                <li class="mb-3">
                    <div class="h4">Have a question?</div>
                    <ul class="list-no-bullet">
                        <li class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus accusamus veritatis aliquid obcaecati similique, quis aspernatur doloribus ipsa ducimus cupiditate saepe minus dolor officiis iste tenetur repellat facere soluta eveniet.</li>
                    </ul>
                </li>
                <li class="mb-3">
                    <div class="h4">Need advice?</div>
                    <ul class="list-no-bullet">
                        <li class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nisi facilis perspiciatis nihil ipsa, nostrum, autem ratione beatae corporis cum pariatur necessitatibus itaque quis consectetur recusandae non nemo quia. Corrupti?</li>
                    </ul>    
                </li>
                <li class="mb-3">
                    <div class="h4">Inquiry?</div>
                    <ul class="list-no-bullet">
                        <li class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor architecto ad atque excepturi. Odit excepturi aperiam ratione pariatur. Delectus eius sint maiores, deserunt debitis accusamus aperiam neque beatae praesentium magnam.</li>
                    </ul>   
                </li>
            </ul>

            <div class="h4 text-center my-5">
                <ul class="list-style-none">
                    <li class="footer-list-item"><a href="mailto:contact@email.com">contact@email.com</a></li>
                    <li class="footer-list-item"><a href="tel:+9021234567">(902)-123-4567</a></li>
                </ul>
                
                <div>
                    <a class="btn btn-theme btn-floating zoom" href="https://www.fb.com"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-theme btn-floating zoom" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-theme btn-floating zoom" href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            
        </div>

        <div class="col-lg-5">
            <div class="h3">Send us a message!</div>
            <form class="mt-3" action="#" method="POST">
                <div class="form-outline mb-3">
                    <input name="" id="firstName" class="form-control rounded" type="text" required>
                    <label for="firstName" class="form-label">First name</label>
                </div>
                <div class="form-outline mb-3">
                    <input name="" id="lastName" class="form-control rounded" type="text" required>
                    <label for="lastName" class="form-label">Last name</label>
                </div>
                <div class="form-outline mb-3">
                    <input name="" id="email" class="form-control rounded" type="email" required>
                    <label for="email" class="form-label">Email address</label>
                </div>
                <div class="input-group mb-3">
                    <select class="form-select form-select-sm">
                        <option selected>+902</option>
                        <option value="1">+972</option>
                        <option value="2">+198</option>
                        <option value="3">+701</option>
                    </select>
                    <div class="form-outline">
                        <input name="" id="phoneNumber" class="form-control rounded" type="tel" required>
                        <label for="phoneNumber" class="form-label">Phone number</label>
                    </div>
                </div>
                <select class="form-select mb-3">
                    <option value="null" selected disabled>Country</option>
                    <option value="Canada">Canada</option>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                </select>
                <div class="form-outline mb-3">
                    <textarea name="" id="comment" class="form-control rounded" rows="5"></textarea>
                    <label for="comment" class="form-label">Comments</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block form-control">
                    Send  <i class="fas fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
</div>